[2017-07-04 00:19] neliousness opened #1 "Failing to initialize Bridge"
I have followed your instructions carefully but I keep getting the following error

java.lang.IllegalStateException: You must first call initialize before calling any other methods

[2017-07-04 00:25] neliousness commented on #1
i seem to have found the problem. i thought that i could initialize it from my Splash screen activity or my main activity. I got it to work by adding it in the activity that i used to declare the state i wanted to store.

[2017-07-05 13:50] byencho commented on #1
@neliousness My recommendation is to subclass `Application` and do the initialization there:

[code]

Then just make sure your application points to that subclass on startup. In `AndroidManifest.xml`:

[code]

[2017-07-12 14:13] byencho commented on #1
@neliousness I'm going to close this issue out as resolved.

[2017-07-12 14:13] #1 closed, assigned to nobody

[2018-02-09 12:33] remq opened #10 "Bridge for views"
I'm trying to implement Bridge for the app I'm building. Currently I use Icepick, which has an implementation for views defined in their documentation. Can I also use Bridge for these view instance state implementations?

[2018-02-09 14:38] byencho commented on #10
That's a good question. There is currently no support for using `Bridge` with views in the way `Icepick` is set up to do it. Part of the reason for this is that it seemed unlikely that state saving in custom views would have the same problem that you'd find in Activities and Fragments, where you are much more likely to try putting your "network" data in the saved state Bundle. I'd recommend contin

[2018-02-09 15:56] remq commented on #10
Thanks for the response! Currently my custom view is setup pretty poorly: the data model for the list it's displaying is managed inside the view code. This model can get quite large (the list has infinite scroll), so I was hoping to store it using `Bridge`. I've already got some crashes coming in, but I guess now is a good time to refactor my code then ;)

[2018-02-09 16:05] byencho commented on #10
Yeah, moving that code out of the view is probably a good idea anyway. Or even just offloading the state saving and restoration to the parent Activity / Fragment would work.

[2018-05-03 13:06] marcaoas opened #11 "Make clear clearStaleData method optional on save instance state"
When using a view pager or other libraries like [this one](https://github.com/JetradarMobile/android-multibackstack) the instance of the fragment i lost and when that happens the instance state saved on from bridge is cleared on the next `onSaveInstanceState` call. Would be great if the `BridgeDelegate.clearStaleData` call on the `Bridge.onSaveInstanceState` could be optional.

[2018-05-04 12:05] vaibhav-droid opened #12 "Still facing the problem"
Hey, I have used both and bridge and Icepick but still getting the error. I have initialized bridge in Application class and then in my activity class I have a fragment pager adapter and for that fragment, I have used restore and save methods but as soon as I am putting my application in the background it gets crashed because of transition too large exception.
Any other help on this if I am missin

[2018-05-04 13:46] byencho commented on #12
Could you paste an example of how you are using Bridge in one your Fragment classes? If you're using Bridge, the only place your Icepick calls should appear are when initializing Bridge, so I just want to make sure you're not _also_ calling it when you call the Bridge save / restore methods.

[2018-05-07 18:43] byencho commented on #11
Sure I'll look into an update soon where I either make that feature optional or just remove it entirely (since it's a bit redundant if you use `Bridge.clear()` anyway).

[2018-05-25 12:03] RuiRoque-FA opened #13 "Doesn't work for multiple instances"
For example, if we have a Fragment used in an adapter in which for every adapter position a new instance of that fragment is created, we cannot use Bridge in that Fragment.

On the first onDestroy event of any of the instances, all the instance state of every fragment is deleted. Also, every time we save the instance state of one of the fragments, the fragment's state of the previous view is lost.

[2018-05-25 14:53] byencho commented on #13
I'm pretty sure this is related to an overly aggressive optimization I added that clears saved data for any object that goes out of memory (which is fine in most standard cases but appears to cause problems in others). This is the same issue discussed in https://github.com/livefront/bridge/issues/11 . I'm planning on tweaking this in a future release. For now, see if a change like this one fixes y

[2018-05-31 16:48] asozcan opened #14 "Use bridge without icepick like state handler libraries"
I'm trying to apply this library without any other state handler library. Is there any workaround to implement it compatible with old style savedInstanceState methods when initializing it? Something like;

[code]

As i test, it causes TransactionTooLarge in any case, if there's no @State annotation for objects. Icepick is super nice but i have almost 200 unique activity in my project and lazy to o

[2018-05-31 17:50] byencho commented on #14
To use `Bridge` without an annotation-based library, one way would be to make a new interface like

[code]

and make your Activities and Fragments implement that and do your actually save-state handling there:

[code]

Then your `Bridge` initialization would look like:

[code]

Something like that should work if you really want to go that route. But personally I think it's just much easier at that

[2018-05-31 17:59] asozcan commented on #14
Hmm, it worked as expected but in any case i have to implement a custom StateManager interface for all old style activities. Better to give same effort for icepick, thank you so much @byencho .

[2018-05-31 17:59] #14 closed, assigned to nobody

[2018-06-04 14:38] byencho opened #17 "Allow data clearing to be deferred"
Currently the `Bridge.clear()` method requires a reference to the target object in order to clear its data. Typically this method would be called in the `onDestroy` method of a particular `Activity` or `Fragment` that is about to be discarded. There are cases, however, where this may delete data that is still needed. For example, when using a [FragmentStatePagerAdapter](https://developer.android.c

[2018-06-04 14:41] byencho commented on #11
@marcaoas In the `v1.1.2` release I've removed the automatic data clearing entirely. Please check that this resolves your issue. Also note that you might need to reassess which `Fragment` instances you use `Bridge.clear()` in. See https://github.com/livefront/bridge/issues/17 for more details.

[2018-06-04 14:42] byencho commented on #13
@RuiRoque-FA In the `v1.1.2` release I've removed the automatic data clearing that I've mentioned.  Please check that updating to this version and removing the `Bridge.clear()` calls in those particular Fragment classes fixes your issue. Also note that I've created an issue (https://github.com/livefront/bridge/issues/17) to track future changes that will allow the clearing of data to be deferred u

[2018-06-11 12:10] marcaoas commented on #11
Ok @byencho I updated to v1.1.2 and everthing seems is working.
Thank you.

[2018-06-11 14:19] byencho commented on #11
@marcaoas Great, thanks for letting me know! I'm going to close this issue now.

[2018-06-11 14:19] #11 closed, assigned to nobody

[2018-06-11 14:20] byencho commented on #12
@vaibhav-droid Unless you can provide more detailed information I'm going to close this issue.

[2018-06-12 13:48] #12 closed, assigned to nobody

[2018-06-12 13:50] byencho commented on #13
@RuiRoque-FA I'm going to close this issue for now. If you follow the instructions above and still see the problem, please reopen this issue.

[2018-06-12 13:50] #13 closed, assigned to nobody

[2018-06-12 13:51] byencho commented on #10
@remq I'm going to close this issue for now. If there ends up being more demand for this feature in the future we can reopen it.

[2018-06-17 05:23] budowski opened #18 "Does not solve TransactionTooLargeException with android-state library, when enabled globally"
When used with [android-state](https://github.com/evernote/android-state) library, and when that library is enabled globally (`StateSaver.setEnabledForAllActivitiesAndSupportFragments(this, true)`) the `TransactionTooLargeException` still occurs.

Sample code:

MyActivity.java:
[code]

MyApplication.java:
[code]

[2018-06-17 17:55] byencho commented on #18
`StateSaver.setEnabledForAllActivitiesAndSupportFragments(...)` is an optimization that avoids having to manually call `StateSaver.saveInstanceState`/ `StateSaver.restoreInstanceState` in all of your Activity / Fragment classes. But by doing that _and using Bridge_  you are basically "double-counting" and are still sending all your data to Bridge _and_ to the OS, which triggers the `TransactionToo

[2018-06-17 17:58] budowski commented on #18
Thanks for the quick response!
Yes, looks like it's working properly without that global setting and the exception doesn't occur.

I would add just a note in the README mentioning that you shouldn't use that setting for `android-state` library.

[2018-06-17 17:58] #18 closed, assigned to nobody

[2018-06-17 18:01] byencho commented on #18
Sure, thing. I'll look into adding that note 👍

[2018-08-13 10:50] or-dvir opened #19 "can i use this library to transfer data between activities?"
is this library only for saving/restoring state or can i use it to transfer data between activities?
please provide an example if possible

[2018-08-22 19:38] byencho commented on #19
@or-dvir So technically that's not what this library is for but that is a really great question. I haven't really thought about it too much in the past but I bet you could probably a hack a solution into place.

Here's something I sketched out real quick. (I haven't actually tested it so I can't guarantee it works but I think you'll get the idea.) First, create a class that's going to leverage the

[2018-09-11 19:50] rootsavaris opened #20 "TransactionTooLargeException in Activity with TabHost"
Hello, i am using the bridge library with Icepick. it´s seem me that is working fine in 95 % of my application.
But, i have a activity that use one TabHost. For each tab of my component i create a instance of fragment and then i atach or detach depending on visibility of the tab.
Usually, i have 5 fragments created at same time.
Sometimes, the exception occurs.
i am using the bridge in my activity

[2018-09-11 20:27] byencho commented on #20
Yes, Bridge is meant to work with Fragments. I might need to see more details of your setup to know what specifically might be your problem. Note that the Fragments themselves also need to call `Bridge.saveInstanceState` / `Bridge.restoreInstanceState`; its not just something you call for the Activity. I'm not sure if that's your issue, though.

[2018-09-12 11:34] rootsavaris commented on #20
Hum, i will use the calls inside fragments so.. i imagine that can be this my problem.
i think interesting have a project samples in this git to help when and how use in especific cases.
For example, when call and not call Bridge.clear or Bridge with FragmentAdapters. It is easiar for understanding.
Thanks for help

[2018-09-12 13:01] byencho commented on #20
Yeah I completely agree with you : this project needs both a sample app and some unit tests. They're on my roadmap, but I just haven't had time to get around to them yet unfortunately.

Please let me know if you still have problems once you add the `Bridge` calls to the Fragments as well.

[2018-09-30 06:53] elye opened #21 "`Bridge.clear(this)` called during `onDestroy` is erasing the saved data."
In the document, it recommends to use `Bridge.clear(this)` during onDestroy.

[code]

I tried it, and it clear the saved data as `onDestroy` is called when the system kill the Activity. So when restoring, the saved data is no longer available.

[2018-09-30 13:44] elye opened #22 "Calling of `Bridge.restoreInstanceState(this, savedInstanceState)` without checking `savedInstanceState != null` could cause accidental removal of saved sharedPreferences"
The bridgeDelegate has the below functions

[code]

With this, we are suppose to call the `restoreInstanceState` without checking the `savedInstanceState` to help clear the sharedPreference, as we assume this is the state where it doesn't have state restoration needed.

[code]

However, there could be chance where `isFirstRestoreCall` is true, and `savedInstanceState` is also null, but it is actua

[2018-09-30 18:30] byencho commented on #21
Can you be a bit more explicit on the exact scenario you are talking about? For a standard `Activity` / `Fragment`, `onDestroy` should only only be called under two main scenarios:

1. The app is undergoing a configuration changes, like a rotation. `Bridge` detects this and does _nothing_ in these cases to ensure the saved state data isn't accidentally removed.
2. The `Activity` is "finishing" (i.

[2018-09-30 18:38] byencho commented on #22
I'm not really following your argument here. `mIsFirstRestoreCall` will be set to `false` the moment the `onCreate` of the very first `Activity` to be created / re-created has been called. This should happen _before_ `onCreateView` of any `Fragment` has been called. So I'm not really sure what scenario would cause the problems you are describing. Do you have any logs? Or are you just _thinking_ th

[2018-09-30 18:51] byencho commented on #22
Also, in response to this part of your article:

The part about "terminate the App, so the App would start from beginning" is the scenario where the `mIsFirstRestoreCall` boolean is _reset to `true`_ because the app's process would have been destroyed. Then, because there is no saved state, this logic triggers clearing the data:

[code]

So again, if are you saying that this is _not_ the way this

[2018-09-30 21:33] byencho commented on #21
Are you testing with "Don't Keep Activites" on? If so that's going to give you misleading results. It's similar to---but not the same as---the OS killing the app. If so, you should test with something like this instead : https://github.com/livefront/process-killer-android

[2018-09-30 23:58] elye commented on #21
There's no guaranteed that onDestroy will not be called when the system kills the activity and fragment. The document stated https://developer.android.com/reference/android/app/Activity#onDestroy%28%29

[code]

Perhaps we should consider using `isFinishing` for checking it

[code]

But this only works for activity, and not fragment :(

[2018-10-01 00:30] elye commented on #22
The issue is replicated in actual situation, not just based on code analysis.
Do check out my example App with the example steps to replicate the issue.

In short, to make this happens, we just need to have `state == null` and `isFirstRestoreCall` is true.
The `isFirstRestoreCall` is a application level state variable. So that could be reset if the app level is killed, as per the article https://m

[2018-10-01 13:38] byencho commented on #21
@elye Yeah, I had some thoughts about how I could make this work where internally we check if there is a host `Activity` with `onDestroy` called but where `isFinishing()` is _not_ true; if so, just ignore all clear events during this time. This is similar to how we ignore `clear()` calls during configuration changes and could replace the logic used for that as well. So I'll look into making an upd

[2018-10-01 13:46] byencho commented on #22
@elye OK yeah I can understand the scenario you are talking about now. Thanks for clarifying that. As mentioned above, I wasn't really expecting people to "selectively" use `Bridge` in just a few `Activity` / `Fragment`; the thought was that all screens would use `Bridge` by just placing the calls in a base class. Because there is no _requirement_ to do so, though, I can see how this issue can pop

[2018-10-08 13:47] byencho commented on #21
@elye The [new release](https://github.com/livefront/bridge/releases/tag/v1.1.3) should fix this issue.

[2018-10-08 13:48] byencho commented on #22
@elye The [new release](https://github.com/livefront/bridge/releases/tag/v1.1.3) should fix this issue.

[2018-10-11 14:27] byencho commented on #21
@elye I'm going to close this issue now. If you still seem to have problems, feel free to re-open it.

[2018-10-11 14:27] #21 closed, assigned to nobody

[2018-10-11 14:27] byencho commented on #22
@elye I'm going to close this issue now. If you still seem to have problems, feel free to re-open it.

[2018-10-11 14:27] #22 closed, assigned to nobody

[2018-10-11 19:11] byencho commented on #20
@rootsavaris I'm going to close this issue now. If you have any more concerns, feel free to reopen it.

[2018-10-11 19:11] #20 closed, assigned to nobody

[2018-10-13 13:02] pals-ric opened #26 "mi device os version 7.1.2 issue"
all the device i have tested my code with this library its working fine but mi one when i am switching my activity or i am going background again forground my previous activity data vanished .....
please anyone help me with this issue ... its happening only in mi os verion 7.1.2

[2018-10-14 00:49] byencho commented on #26
What Bridge version are you using? Have you tried the latest (v1.1.3)? It might address whatever the issue is if the problem is with the "clear" method.

[2018-10-19 18:36] byencho commented on #26
@pallavirichhariya22 Please let me know if you've reproduced this on the latest version. If I don't hear any follow-up information I'll probably just close this.

[2018-10-28 18:46] byencho commented on #26
OK, I'm going to go ahead and close this ticket. Please feel free to re-open if the problems persist in the most recent version.

[2018-10-28 18:46] #26 closed, assigned to nobody

[2018-11-29 08:02] bagusxxalam commented on #26
i have xiaomi note 4x and Bridge doesn't work i tried to store int and rotate the device and the value is not restored, but if i use icepick it works fine

[2018-11-29 16:54] byencho commented on #26
@bagusxxalam Do you have some sample code with your setup? It's possible you don't have everything completely configured. For example, you need to call `Bridge.initialize` in your Application class.

Or have you confirmed `Bridge` works with _other_ devices and just not that one?

[2018-12-04 07:21] bagusxxalam commented on #26
i tested again now it works, but i still got toolargeexception
my app is using many fragments, the navigation is like instagram
so i tested opening 30+ fragments and when i minimize i got toolargeexception
[TooLargeTool log](https://imgur.com/0O8KZ3S)

[2018-12-04 19:00] byencho commented on #26
@bagusxxalam Are you properly using `Bridge` with your Fragments as well as your Activities? (See the discussion [here](https://github.com/livefront/bridge/issues/20)). It simply shouldn't be possible to see `TransactionTooLargeException` using `Bridge` if everything is set up properly: there's nothing in the Bundles sent to the OS other than one UUID per Activity / Fragment, so you'd need _thousa

[2018-12-05 04:48] bagusxxalam commented on #26
i'm using this library for fragment navigation in my app https://github.com/ncapdevi/FragNav
to save the state based on the library i call below method on my MainActivity which host all of my fragments
`fragNavController.onSaveInstanceState(myCustomBundleInMainActivity)`
but it seems not because i call above method to cause the bundle sent to the os,
i try to comment that method still there's a st

[2018-12-05 07:32] bagusxxalam commented on #26
i think it because my argument on the fragment i pass small object but if there's many fragments it add up to 500KB+, now i clear the fragment arguments when fragment initialization complete(at the end of onCreateView in my case)
and to provide the same argument when configuration changes i save the argument items using bridge
hopefully it can prevent the bundle reach 500KB

[2018-12-05 15:35] byencho commented on #26
@bagusxxalam OK two things:

1. You definitely need to make sure you are using Bridge for the saved state of your Fragments. Based on your logs and your recent comments, it appears you are not doing this. So you should absolutely do that first.
2. If the problem is that the _arguments_ for your Fragments are too big once you start adding up multiple of them, that's technically a separate problem t

[2018-12-06 02:56] bagusxxalam commented on #26
yes i think i will use that method by not passing bundle to the fragment but set the required param directly to the fragment, i try that yesterday and the size sent to the bundle decrease pretty much.
thank you @byencho

[2018-12-20 17:36] gilromeu opened #27 "Failed to resolve: com.github.livefront:bridge:v1.1.3"
When running the gradle this error occurs

![image](https://user-images.githubusercontent.com/6742585/50300897-92581e80-0464-11e9-8152-e33d34f4cddd.png)

[2018-12-20 17:40] gilromeu commented on #27
To find the error, I include

repositories {
maven {url "https://jitpack.io"}
}
however it should be included in

allprojects {
maven {url "https://jitpack.io"}
}

[2018-12-20 17:40] #27 closed, assigned to nobody

[2018-12-20 18:39] byencho commented on #27
Well technically I think its supposed to be

[code]

See https://jitpack.io/ . I might need to update the docs to make that more clear.

[2019-03-07 14:56] msecilmis commented on #10
Is there a progress on this? We actually need this for a couple of custom views.

[2019-03-07 15:01] byencho commented on #10
Sorry, not yet. As a workaround you can try pulling out that data from your `View`, saving it with `Bridge` in the `Activity` / `Fragment` hosting it, and then putting that data back in manually. But I'm still hoping to get around to adding support for this.

[2019-03-07 15:26] byencho commented on #10
@msecilmis You can also maybe toy around with something like this in the `View`:

[code]

I haven't actually tested it so I can't guarantee that works but that's the gist of what I'd be doing internally once I add support for this.

[2019-03-07 16:45] byencho commented on #10
Reopening this issue for better tracking.

[2019-03-13 08:57] JEuler opened #34 "Usage of IceKick"
Sorry, maybe this is a newbish question and maybe it is not about your library at all, but I don't understand how to use Bridge with Icekick you mentioned. Icekick provides only the extensions for View, Activity, Fragment. And I cannot setup it globally in Application class

[code]
I am just trying to use library without EPL license.

[2019-03-13 14:08] byencho commented on #34
So I haven't explicitly tried using `Icekick` myself but based on their docs I'd imagine it would look like this:

[code]

You'd still need to use `by parcelState()`, `by serialState()`, etc. manually in each class to save those properties.

[2019-03-13 18:15] byencho commented on #34
@JEuler OK now I'm finally seeing that the global `IceKick.unfreezeInstanceState` and `IceKick.freezeInstanceState` are _internal_. Yeah so then I'm not 100% sure what to do in these cases. You might try:

[code]

but that's only going to get you so far. That seems like a really odd limitation on the part of `IceKick`. In any case, you could try that, or you could try the [Android-State / StateSav

[2019-03-13 18:17] JEuler commented on #34
Thank you very much, yeah, they are internal. I think your code will work just fine. Will try it in project.

Regarding Andriod-State... It is nice, but it is EPL. Maybe you can answer me if it is safe to use EPL licensed libraries for the commercial project distributed by binaries?

[2019-03-13 18:24] byencho commented on #34
Ah, I see. So I would _think_ you'd be fine to use EPL in a commercial project, since I know several that do. That being said, I'm not a lawyer so that sort of thing is not 100% clear to me. It might depend on the project. I know I've been on projects where only MIT and Apache are allowed, for example. So I can't really answer that question for you, unfortunately.

[2019-03-13 18:51] JEuler commented on #34
Thank you very much for the discussion. Yeah, I also think that all is okay. But, need to be sure. I asked in AndroidState repository about license, waiting for answer. Meanwhile I will try the

[code]
code. Thanks!

[2019-03-13 21:18] JEuler commented on #34
I've tried it and it worked! Thank you!

[2019-03-13 21:20] byencho commented on #34
Cool, glad I could help! I'm going to go ahead and close this issue at this point. Let me know if you have any more questions.

[2019-03-13 21:20] #34 closed, assigned to nobody

[2019-03-20 12:34] AparnaKS opened #35 "Bridge always need android state library to support with"
I am not using any android state library like icepick as saved state handler. But was directly keeping data to bundle using putParcelable, putByteArray etc. In this case how to use bridge library. I have integrated your library and for test purpose added data to bundle (like savedInstanceState.putByteArray("bytes", new byte[1000 * 1000]);)  and have used Bridge to save my bundle eg Bridge.saveInst

[2019-03-20 13:48] AparnaKS commented on #35
Adding to the above, my writetodisk method  is not executing as the bundle is null. Please suggest

 Bundle bundle = new Bundle();
        mSavedStateHandler.saveInstanceState(target, bundle);
        if (bundle.isEmpty()) {
            // Don't bother saving empty bundles
            return;
        }

[2019-03-20 13:49] byencho commented on #35
Hi @AparnaKS . So this question was asked before here : https://github.com/livefront/bridge/issues/14 . There's a suggestion there for how to do this without a library like `Icepick`, but in the end your best option is just use something like Icepick.

[2019-03-20 13:51] byencho commented on #35
The key idea here is that `Bridge` is constructed in a way such that given an object, your `SavedStateHandler` is responsible for adding data to the `Bundle`. It simply does not support directly adding data to the `Bundle` in the way you are suggesting. As suggested in https://github.com/livefront/bridge/issues/14#issuecomment-393617407 , using a new interface could allow you to manually add data,

[2019-03-21 07:48] AparnaKS commented on #35
Thanks for the quick response. It worked with custom StateManager interface. Thank you so much @byencho

[2019-03-21 07:48] #35 closed, assigned to nobody

[2019-03-21 13:23] byencho commented on #35
No problem, @AparnaKS! Glad to help.

[2019-04-02 15:29] yogeshchoudhary147 opened #37 "Does not solve TransactionTooLargeException with icepick library"
Hi @byencho ,

When used with icepick [library](https://github.com/frankiesardo/icepick), the TransactionTooLargeException still occurs.

Sample Code:

MyActivity.java:

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        Bridge.restoreInstanceState(this, savedInstanceState);
    }

    @Override
    protected void onSaveInstan

[2019-04-02 16:19] byencho commented on #37
@yogeshchoudhary147 You'd need to show me how you are saving your data. If you're not using `@State` annotations (which is how `Icepick` works), you're not going to avoid the problem.

[2019-04-03 04:50] yogeshchoudhary147 commented on #37
Thanks for your quick response @byencho.

I am not actually not doing anything else in MainActivity.java. I am not using `@State` annotations. I recently upgraded my app's `targetSdkVersion` and this crash started happening. That's when I came across your library. Please guide me what needs to be done to get rid of this crash.

[2019-04-03 14:06] byencho commented on #37
@yogeshchoudhary147 If you are not using `@State`, then using `Bridge` + `Icepick` _does nothing_. Please refer to the [Icepick docs](https://github.com/frankiesardo/icepick) or check out the `Bridge` sample app for appropriate usage.

If you are not manually saving any other kind of state in your Activity, then the problem is probably too much state being saved in the Views by React Native. Pleas

[2019-04-04 14:18] byencho commented on #37
@yogeshchoudhary147 I'm going to close this issue for now, since it's really just a problem with state-saving inside React-Native and not with `Bridge` / `Icepick`. `Bridge` is only intended to help with state you **manually save yourself inside an Activity / Fragment / etc.**, not in state that is saved generically by the OS or some third-party library.

[2019-04-04 14:18] #37 closed, assigned to nobody

[2019-05-10 09:11] Kaszmir commented on #1
Hello, I have a similiar problem with Bridge and I reaIly don't know how to figure out this issue. I have a subclass of `Application` class which is added in `Manifest.xml` :

[code]

In this class I initialize Bridge:
[code]

But on some devices users have an application crash caused by Bridge:

You must first call initialize before calling any other methods

![image](https://user-images.githubus

[2019-05-10 13:40] byencho commented on #1
@Kaszmir Hmm that definitely seems very odd. One thought I have is that you can try moving the `Bridge.initialize` call to before `super.onCreate`. I'm guessing there is somehow some kind of race condition between Activities being restored while the `Application.onCreate` method is running. That _shouldn't happen_ but for some reason in these cases it might be. I'd say to give that a shot and see

[2019-05-10 17:33] byencho commented on #1
@Kaszmir I'll note that one thing I definitely find strange is that it's a call to `Bridge.saveInstanceState` that is causing the problem. That actually makes it seem like my race condition theory probably isn't what's happening. Is there anything unusual in your usage of `Bridge.saveInstanceState` that could be at all related? Is it called anywhere other than the `onSaveInstanceState` method of a

[2019-05-12 12:20] Kaszmir commented on #1
@byencho Thanks for reply. I'll try to move `Bridge.initialize` call before `super.onCreate`.
About your second comment: `Bridge.saveInstanceState` is called via presenter but only when `onSaveInstanceState` is called in my `Fragment`

this is code from `Fragment`
[code]
and this is code from presenter:
[code]
Do you think that there might be a source of problem?

[2019-05-14 14:20] byencho commented on #1
@Kaszmir Hmm...so that setup in the presenter looks fine, so I wouldn't think that is the case. Do you know where in your code the `Bridge.saveInstanceState` call is happening that is actually triggering the crash that you see?

[2019-05-15 09:07] Kaszmir commented on #1
@byencho yes, it's exactly when SaveVars() method is called from Fragment on Presenter and Presenter after check if data to save isn't null tries to call saveInstanceState() on Bridge. It's a code snippet that I posted in my last comment. This trigger a crash. But definetly not every time because on my phone I can't reproduce it

[2019-05-15 14:15] byencho commented on #1
@Kaszmir Ah OK good to know. Yeah I'm still not really sure what's going on there since nothing seems very strange in that usage. Let me know if you notice any change when you move the call to before `super.onCreate()` or if you find out any other information.

Quick question, though : you aren't using some custom "Fragment manager" library are you for managing your Fragments? Just the vanilla `Fr

[2019-05-30 23:08] byencho commented on #10
@msecilmis This feature has been released in [v1.2.0](https://github.com/livefront/bridge/releases/tag/v1.2.0). Let me know if you have any questions

[2019-05-30 23:08] #10 closed, assigned to nobody

[2019-10-16 06:57] AbuzarJan opened #47 "How to store/retrieve custom ArrayList object which we use for recyclerview ?"

[2019-10-16 14:10] byencho commented on #47
That all depends on what you are using as your `SavedStateHandler`. If you calling into something like https://github.com/evernote/android-state , then you'd do something like this:

[code]

where `Data` (or whatever your model would be) is required to be `Parcelable`.

[2019-10-24 11:26] elye opened #48 "Out of memory when saving state"
Can't really replicate this issue, but reported quite a bit of instance error log

[code]

[2019-10-24 19:35] byencho commented on #48
Interesting. Thanks for reporting that. I'll investigate if there is safer way to do the encoding in chunks perhaps.

[2019-10-25 13:40] byencho commented on #47
@AbuzarJan I'm going to close this issue. Let me know if there are still questions about it. Take a look at the sample, too, if you are just having issues getting `Bridge` set up.

[2019-10-25 13:40] #47 closed, assigned to nobody

[2019-11-14 22:34] byencho commented on #48
@elye I just wanted to check in with you on this. I managed to reproduce this in cases where extremely large amounts of data (50 - 100MB or more) were being saved by going into the `generateNoisyStripedBitmapInternal` method of the sample app and changing `val size = 800` to something like `val size = 800  * 6`. I experimented with a variety of solutions and at the moment I haven't found anything

[2019-12-04 06:55] huan-nguyen commented on #48
Hey @byencho . I'm working on the same project as @elye . Basically I found the crash is probably caused by the serialisation of `bundle` to string:

In `BridgeDelegate.java`
[code]

and in `BundleUtil.java`

[code]

This attempts to create a String from `byte array` and that causes OOM exception when the data is bigger than the available memory.

I'm looking for an option to overcome this issue.

[2019-12-04 15:05] byencho commented on #48
@huan-nguyen Right, that is the spot in the library that is causing the issue. As I mentioned above, I've tried a variety of solutions already that still make use of the `Base64.encodeToString` call but I haven't found anything that gets around the issue for very large `Bundle` instances. I'm pretty sure the only way around it is to go the `FileOutputStream` route (if that would even fix the issue

[2019-12-08 23:38] huan-nguyen commented on #48
Thanks for your reply @byencho.

Actually, we don't cache bitmap, just data. it's quite interesting that the crash happened with relatively smaller size of data as well. We actually see a number of crashes on old devices (most are Samsung) running Android 7 and below. Sometimes the data size just needs to be 10Mb, or even less like 3Mb to cause a crash. It's quite an edge case, but happened to occ

[2020-01-10 08:48] elye commented on #48
Hi @byencho

Good day.
Just for experiment, I have fork your bridge library to play with it a little explore the effect of saving to file instead of using SharedPreference to store the bundle.

When we use `val size = 800 * 6` Bitmap, the crash happens when it Encodes to 64 bits String.
The entire process of converting from Bundle to Bytes[] is already memory consuming. And converting Bytes[] to B

[2020-01-10 14:48] byencho commented on #48
Hi @elye . Thanks for investigating that! Yes that is pretty much the exact approach I had in mind when I mentioned using `File` / `FileOutputStream` as a larger change to get around the issue. This is definitely something I want to pursue further. I'd say for now it looks like you can just go ahead and use your own fork until I can get around to getting a version of this change into the main libr

[2020-01-11 03:58] elye commented on #48
Thanks. When you're making the change, it would be even if you could find a way to avoid the `parcel.writeBundle(bundle);` as that's the next place the crash OOM.

[2020-01-12 18:41] byencho commented on #48
Well the `parcel.writeBundle(bundle)` call can't be avoided: its absolutely key to the disk-writing functionality. There is no other way I am aware of to write a generic `Bundle` to bytes other than the procedure I'm currently using. So while I can improve the bytes-to-disk step, I'm unaware of a way to improve the Bundle-to-bytes step. The only thing I could do at that point is to catch the OOM e

[2020-06-25 06:52] mrtry opened #57 "android.preference library is deprecated"
`android.preference`  is deprecated as of Android 10. 😭
Do you plan to migrate?
see: https://developer.android.com/about/versions/10/behavior-changes-all#preferences

[2020-06-25 07:36] mrtry commented on #57
Sorry, I confused `android.preference` and `android.content.SharedPreferences`

[2020-06-25 07:36] #57 closed, assigned to nobody

[2020-06-25 13:25] byencho commented on #57
No problem. Even though what you mentioned isn't related I'll note that I'm actually probably going to migrate away from `SharedPreferences` at some point anyway to resolve https://github.com/livefront/bridge/issues/48 .

[2020-07-21 19:49] Kisty opened #58 "Support getting saved state directly"
Thanks for this library. I'm currently trying to fix issues with ViewPager containing large amount of pages and not using a state saving library so doing it by hand as suggested in #14.

Is there a way to `get` the `Bundle` stored by Bridge? I use the state in `onCreate()` to restore the underlying data which for whatever reason couldn't be used in `onRestoreInstanceState()` therefore I can't refa

[2020-07-21 20:39] byencho commented on #58
Hi @Kisty . I'm trying to see if I follow the question : is the problem that using `restoreState` appears to be asynchronous while you need to access the data synchronously somehow? After `Bridge.restoreInstanceState` is called, the data should be supplied immediately to your target. So while there is no method like `Bridge.getData(...)` that would return a `Bundle` directly, you should be able to

[2020-07-22 08:38] Kisty commented on #58
Thanks @byencho. That's spot on. Why didn't I think of that! I'll give it a whirl.

Can I also put the entire Android view state in Bridge or is that not supported? I see that I can supply the `ViewSavedStateHandler` but that won't support built-in Android Views or did I miss the point of it.

[2020-07-22 09:15] Kisty commented on #58
Well, that's solved all my problems. Turns out it does store the Android View state. Thanks again!

[2020-07-22 12:18] Kisty commented on #58
Apologies, it doesn't store the view state. Is this supported at all?

[2020-07-22 13:07] byencho commented on #58
@Kisty Glad to help!

As for the Android view state, for Activities and Fragments `Bridge` is designed to only store the custom data you give it. The rest of the saved state (like the Fragment stack, the view hierarchy state, etc.) are stored in the original saved state `Bundle` undisturbed.

As you mention, you can use a `ViewSavedStateHandler` along with [the Bridge methods for saving state in v

[2020-08-21 16:24] Kisty opened #59 "Google Play is flagging the GET_TASKS permission as an error in the pre-launch report when supporting Android 4.4 and below"
Hi there! Thanks for this library, it's helped a lot.

We had to add the GET_TASKS permission as it's required to use the `getRunningTasks()` for Android 4.4 and below else it crashes. I don't think there's a way to add the permission for only devices running Android 4.4 and below. https://github.com/livefront/bridge/blob/e0c4e6551ba93e877adcf58737168089f0c6c821/bridge/src/main/java/com/livefront/

[2020-08-21 17:06] byencho commented on #59
Hi @Kisty . So this all relates to how `Bridge` actively clears data on fresh loads of an app. Due to some edge cases, determining a "fresh state" is a bit more complicated than originally intended and we now need to check for running app process data to see if there is only one `Activity` associated with you app when the check is made. The call to `activityManager.getRunningTasks(1)` is necessary

[2020-08-24 08:34] Kisty commented on #59
Thanks for this, @byencho. That's great. What I've done for now is put a `android:maxSdkVersion="19"` on the `android.permission.GET_TASKS` permission which only applies the permission for 4.4 and below.

When you say I can call straight in to `SavedStateHandler` directly, does that mean that for 4.4 and below, I can skip the entire `Bridge` set up? E.g.

`App.java`
[code]

Then in `MyActivity.jav

[2020-08-24 09:29] #58 closed, assigned to nobody

[2020-08-24 13:28] byencho commented on #59
@Kisty That's roughly the idea, yes. It looks like you might have the version check in the Application switched around though. I would probably tweak it a bit too:

In the Application:

[code]

In an Activity:

[code]

Assuming the `restoreInstanceState` / `saveInstanceState` are on some Activity base class, you can call those directly. And even if you were using `StateSaver` this would still just

[2020-09-03 15:58] 7Koston commented on #59
Just
`    <uses-permission
        android:name="android.permission.GET_TASKS"
        android:maxSdkVersion="20" />
`
In AndroidManifest.xml

[2020-09-12 05:54] Kisty commented on #59
Thanks for your help. I think this has resolved it. Cheers!

[2020-09-12 05:54] #59 closed, assigned to nobody

[2020-09-14 13:19] byencho commented on #59
Sure thing 👍 Glad we came up with something acceptable to get around the problem.

[2020-09-14 13:21] byencho opened #60 "Mention GET_TASKS permission restriction for pre-Android 4.4 in README"
The `GET_TASKS` permission appears to be required to call `getRunningTasks()` for Android 4.4 and below. This should be called out in the `README`.

See https://github.com/livefront/bridge/issues/59 for more details.

[2020-12-07 15:10] byencho commented on #48
@elye The fix to avoid Base64-encoding the data to get around the OOM issue has been released with `v1.3.0`. Sorry for the delay on this! Please let me now know if you have more questions. I'm going to close the issue for now. As for the OOM problem when calling `parcel.writeBundle(bundle)`, the best I would be able to do is catch the exception and fail to save the state. If that's a fix you'd be

[2020-12-07 15:10] #48 closed, assigned to nobody

[2021-03-30 16:06] shashachu opened #69 "NPE in FileDiskHandler"
Hi,

We just upgraded to the latest version of Bridge and we're seeing this crash in production. No repro steps yet, but here's the callstack:

[code]

I could submit a PR for a simple null check, but maybe you have some deeper idea of what's going on.

[2021-03-30 16:13] shashachu commented on #69
I think it's due to us calling `Bridge.clearAll` without knowing there's any data to clear, so a null check is probably fine?

[2021-03-30 16:16] byencho commented on #69
@shashachu Thanks for reporting this. I'll have to think about this one a bit because I can't see precisely how this could result in an NPE and I don't want to just add a null check until I understand it more. Any other information you might be able to provide essentially would be great.

By the way, you shouldn't call `clearAll` manually unless you're deciding to no longer use `Bridge` and just w

[2021-03-30 16:22] shashachu commented on #69
Thanks @byencho. This was just from a few minutes of investigation so I could be wrong on the root cause. Looking a bit further into the code I agree it doesn't really seem possible for `mPendingLoadFuture` to be null. I'll check our proguard mapping to make sure I know which field it's complaining about.

BTW I updated the original bug with the actual exception message in case it's helpful.

[2021-03-30 16:24] byencho commented on #69
@shashachu Sounds good, thanks!

[2021-03-30 16:27] shashachu commented on #69
And we do call `clearAll` in a couple cases - one is when the user logs out, the other is basically in a disaster recovery scenario where we detect the user is repeatedly crashing and we want to try to get them to a clean state.

Here's from proguard:

[code]

I wonder if it's some kind of race condition.

[2021-03-30 16:33] byencho commented on #69
@shashachu Yeah my initial thought was that it could be a race condition but `mPendingLoadFuture` itself is `final` and set in the constructor so I don't see any scenario where you can have a `FileDiskHandler` with a `null` `mPendingLoadFuture`, unless `executorService.submit` returned a `null` value for some reason. But then that would be strange bug in `ExecutorService` that I would expect to be

[2021-03-30 16:50] byencho commented on #69
@shashachu Just out of curiosity, are there cases where you call `Bridge.clearAll` before having called `Bridge.initialize`?

[2021-03-30 18:29] byencho commented on #69
@shashachu OK so I've got a little more information on this issue. Looking at the stacktrace again, it's not actually saying that `mPendingLoadFuture` is `null`, but that `mFileDiskHandler` is. It's very strange, but I can mostly reproduce it by adding the following code when clearing:

[code]

With that code in place, I can trigger the following error when calling `Bridge.clearAll`:

[code]

It's

[2021-03-30 19:30] shashachu commented on #69
@byencho interesting find! I thought `final` simply does compile-time checks, in which case I don't think marking it `final` is enough. But I'm not enough of a Java expert to know if `final` does anything at runtime.

Re your question about whether it is possible for us to call `clearAll` prior to calling `initialize`, I do think it's possible, and looking at the code now, I'll bet that's actually

[2021-03-30 19:39] byencho commented on #69
@shashachu So using `final` is going to do more than just compile-time checks. It actually makes accessing that field thread-safe, which is what we need in this case. So I'm going to make all member variables `final` that I can (which I should have done in the first place) and then make a release at some point which hopefully fixes your issue. If not we'll keep investigating. I have a couple more

[2021-03-30 19:58] shashachu commented on #69
@byencho

For now we've just rolled back to an older version of Bridge. Hard to get a grasp on overall volume because we rolled it back after seeing crashes in our 1% rollout, so overall app adoption was relatively low. We'd like to be on 2.x because it's one of the few remaining dependencies using the support library, but it's not an emergency.

I can't see anywhere that we're calling them off th

[2021-03-30 20:24] byencho commented on #69
@shashachu OK well I would not recommend calling `initialize` more than once and using a `try / catch`. I think that is only going to cause more problems. If your `clearAll` calls are really decoupled then I suppose you should keep going with what you are doing. I have a hard time picturing how both `initialize` and `clearAll` can be called on the main thread and yet you do not know the ordering o

[2021-03-31 22:00] byencho commented on #69
@shashachu OK I've released `v2.0.1` with some changes that I hope will help. I'm guessing you won't really know if its working until your next release after you update again but whenever that happens to be, please let me know if it solved your problem. I'm going to close this issue for now but please re-open it if you see the issue again.

[2021-03-31 22:01] #69 closed, assigned to nobody

[2021-03-31 23:27] shashachu commented on #69
Thank you! We'll give it a shot and report back.

[2021-04-12 21:03] shashachu opened #72 "IllegalArgumentException in restoreInstanceState"
This is another 2.0 crash that we're seeing in production. No local repro yet. It seems to occur mostly on OS 8.1.0 and 7.0 but it's happening across OS levels.

[code]

Any ideas?

[2021-04-12 21:39] byencho commented on #72
@shashachu Interesting. That doesn't seem like the sort of thing that really shouldn't have changed at all when going from 1.x to 2.x. Are you sure you didn't see that on previous versions? In any case, that doesn't look like anything obvious to me so I'd have to dig into it a bit. It might be a case where I just have to catch that exception and just return `null` for the result.

[2021-04-12 22:00] byencho commented on #72
For what its worth, there seemed to be a somewhat similar problem very early on in the Android framework that got updated: https://android.googlesource.com/platform/frameworks/base/+/6c5406a%5E%21/

So that's a least some kind of reference point to work from.

[2021-04-13 00:28] shashachu commented on #72
It did seem strange but I searched Bugsnag and can't find any similar crashes from before the 2.0 upgrade, and downgrading did seem to resolve the issue.

I also found that bug - you and I have similar Google-habits. :) I don't exactly know how you'd apply it to the library, though.

[2021-04-13 13:41] byencho commented on #72
@shashachu OK thanks for the information. The only part of the change to 2.0 that I could think might have any effect on the behavior would be updating the compile / target SDK versions to 30. I can't imagine anything else could be related. I wonder if there's some subtle changes to the `Parcel` code in version 29 / 30 that could lead to this. I also found [this issue](https://issuetracker.google.

[2021-04-13 15:58] shashachu commented on #72
Thanks @byencho! We should only ever be calling save/restore on the main thread so I'm unsure how threading issues could cause this. Agree that state loss is better than crashing, so I'm comfortable with a bandaid fix.

[2021-04-13 19:43] byencho commented on #72
@shashachu Could you tell me which Bridge version you were using before you updated to `v2.0.0` and which version you have since reverted back to? In particular I'm wondering if you were on a version before or after [v1.3.0](https://github.com/livefront/bridge/blob/master/CHANGELOG.md#version-130-2020-12-07). I changed the file storage mechanism in that version and it would make a bit more sense t

[2021-04-13 20:36] byencho commented on #72
For a little context, the crash is happening here in `BaseBundle`:

[code]

I've played around with this a bit and the `IllegalArgumentException` gets thrown if the value for `length` is longer than the actual amount of data that can be consumed. Because the `length` is derived by reading data from the `Parcel`, the only scenario I found that could manually reproduce the crash when calling the `Bu

[2021-04-14 03:40] shashachu commented on #72
Sure, I'll check our versions tomorrow. Thanks!

[2021-04-14 16:05] shashachu commented on #72
@byencho Confirmed - the version we reverted to was `1.2.1`.

[2021-04-14 16:21] byencho commented on #72
@shashachu OK, good to know. Thanks for checking that! I'm pretty confident this issue is resulting from the changes in `v1.3.0` then. In retrospect it makes sense that are there are going to be some rare cases where the data is only partially written to disk, so errors like this when reading that partial data shouldn't be surprising. As mentioned before, I'll just make sure there is safer handlin

[2021-04-19 16:16] byencho commented on #72
@shashachu This should be fixed in `v2.0.2`. I'm going to close this for now but let me know if you see any other issues when you do end up updating again.

[2021-04-19 16:16] #72 closed, assigned to nobody

[2021-04-19 16:22] shashachu commented on #72
Thanks! I'll report back if we see any additional issues. I really appreciate the quick turnaround.

[2021-04-29 20:54] shashachu commented on #72
Hi @byencho just letting you know that we're rolling out a new version with 2.0.2 and so far are not seeing this crash. 🎉

[2021-04-30 13:10] byencho commented on #72
Excellent, thanks for letting me know @shashachu !